.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url('https://images.unsplash.com/photo-1488590528505-98d2b5aba04b?auto=format&fit=crop&q=60&w=800&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8ZGV2fGVufDB8fDB8fHww');
  background-size: cover;
  background-origin: center;
  height: 500px;
  width: 100%;
  justify-content: left;
  align-items: center;
  margin: 0 auto;
}

.hero .btn {
  background: #1EDD88;
  padding: 16px 36px;
  border: none;
  border-radius: 30px;
  color: white;
  font-weight: 700;
}

.hero p {
  color: white;
  font-size: 20px;
}

.hero h1{
  font-size: 32px;
  color: white;
}
